<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/js/lay-module/dtree/dtree.css" media="all">
    <link rel="stylesheet" href="/js/lay-module/dtree/font/dtreefont.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form class="layui-form" lay-filter="menu-form">
    <input type="hidden" name="menuId" th:value="${menu.menuId}">
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">上级菜单：</label>
            <div class="layui-input-block">
                <ul id="selectParent" name="parentId" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">名称：</label>
            <div class="layui-input-block">
                <input type="text" name="menuName" th:value="${menu.menuName}" lay-verify="required" lay-reqtext="权限名称不能为空" placeholder="请输入权限名称" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">类型：</label>
            <div class="layui-input-block">
                <input type="radio" name="type" lay-filter="menu-type" value="0" th:checked="${menu.type == '0'}" title="目录">
                <input type="radio" name="type" lay-filter="menu-type" value="1" th:checked="${menu.type == '1'}" title="菜单">
                <input type="radio" name="type" lay-filter="menu-type" value="2" th:checked="${menu.type == '2'}" title="按钮">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标：</label>
            <div class="layui-input-block">
                <input type="text" name="icon" th:value="${menu.icon}" id="iconPicker" lay-filter="iconPicker" class="hide">
            </div>
        </div>
        <div class="layui-form-item" id="url-input">
            <label class="layui-form-label">URL：</label>
            <div class="layui-input-block">
                <input type="text" name="url" th:value="${menu.url}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="perms-input">
            <label class="layui-form-label">权限：</label>
            <div class="layui-input-block">
                <input type="perms" name="perms" th:value="${menu.perms}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="orderNum-input">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="tel" name="orderNum" th:value="${menu.orderNum}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>
<script src="/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/js/lay-config.js?v=1.4.5" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['form', 'jquery', 'dtree', 'iconPickerFa'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let dtree = layui.dtree;
        let iconPickerFa = layui.iconPickerFa;

        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/menu',
                type: 'put',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    if (data.status >= 300) {
                        layer.msg(data.msg);//失败的表情
                        return;
                    } else {
                        layer.msg("申请提交成功", {
                            icon: 6,//成功的表情
                            time: 500 //1秒关闭（如果不配置，默认是3秒）
                        },function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.render();
                        })
                    }
                }
            })
            return false;
        });

        form.on("radio(menu-type)", function (data) {debugger
            let type = data.value;
            form.val("menu-form", {
                "icon": '',
                "url": '',
                "orderNum": '',
                "perms": ''
            });
            if (type === '0') {
                $("#url-input").hide();
                $("#perms-input").hide();
                $("#ordeNum-input").hide();
            } else if (type === '1') {
                $("#url-input").show();
                $("#perms-input").show();
                $("#ordeNum-input").show();
            } else if (type === '2'){
                $("#url-input").hide();
                $("#perms-input").show();
                $("#ordeNum-input").hide();
            }
        });

        dtree.renderSelect({
            elem: "#selectParent",
            url: "/menu/selectParent",
            method: 'get',
            selectInputName: {nodeId: "parentId", context: "menuName"},
            skin: "layui",
            dataFormat: "list",
            response: {treeId: "menuId", parentId: "parentId", title: "menuName"},  //修改response中返回数据的定义
            selectInitVal: '[[${menu.parentId}]]'
        });

        iconPickerFa.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // fa 图标接口
            url: "/lib/font-awesome-4.7.0/less/variables.less",
            // 是否开启搜索：true/false，默认true
            search: true,
            // 是否开启分页：true/false，默认true
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                console.log(data);
            },
            // 渲染成功后的回调
            success: function (d) {
                console.log(d);
            }
        });
    });
</script>
</body>
</html>