<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glii.ddbackmanage.mapper.DeptMapper">

    <sql id="Base_Column_List">
        DEPT_ID,PARENT_ID,DEPT_NAME,ORDER_NUM,CREATE_TIME,MODIFY_TIME
    </sql>

    <select id="findDeptsByDeptIdIn" parameterType="list" resultType="com.glii.ddbackmanage.entity.Dept">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_dept
        WHERE DEPT_ID IN
        <foreach collection="list" index="index" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </select>

    <select id="findDeptList" resultType="com.glii.ddbackmanage.entity.Dept">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_dept
    </select>

    <!--新增部门-->
    <insert id="insertDept" parameterType="com.glii.ddbackmanage.entity.Dept">
        INSERT INTO t_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId !=null">PARENT_ID,</if>
            <if test="deptName !=null">DEPT_NAME,</if>
            <if test="orderNum !=null">ORDER_NUM,</if>
            <if test="createTime !=null">CREATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId !=null">#{parentId},</if>
            <if test="deptName !=null">#{deptName},</if>
            <if test="orderNum !=null">#{orderNum},</if>
            <if test="createTime !=null">#{createTime},</if>
        </trim>
    </insert>
</mapper>