<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glii.ddbackmanage.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.glii.ddbackmanage.entity.Role">
        <id column="ROLE_ID" property="roleId"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="REMARK" property="remark"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="MENU_IDS" property="menuIds"/>
    </resultMap>

    <sql id="Base_Column_List">
        ROLE_ID,ROLE_NAME,REMARK,CREATE_TIME,MODIFY_TIME,MENU_IDS
    </sql>

    <!--查询角色列表-->
    <select id="findRoleList" resultMap="BaseResultMap">
        SELECT
        r.role_id ROLE_ID,
        r.role_name ROLE_NAME,
        r.remark,
        r.create_time CREATE_TIME,
        r.modify_time MODIFY_TIME,
        GROUP_CONCAT( rm.menu_id ) MENU_IDS
        FROM
        t_role r
        LEFT JOIN t_role_menu rm ON ( r.role_id = rm.role_id )
        WHERE 1 = 1
        <if test="role.roleName != null and role.roleName != ''">
            AND r.role_name like CONCAT('%',#{role.roleName},'%')
        </if>
        GROUP BY
        r.role_id
        ORDER BY r.create_time DESC
        LIMIT #{rowIndex},#{pageSize}
    </select>

    <!--查询角色总数-->
    <select id="findRoleCount" resultType="Integer">
        SELECT count(1)
        FROM t_role
    </select>

    <!--新增角色-->
    <insert id="insertRole" parameterType="com.glii.ddbackmanage.entity.Role" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO t_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId !=null">ROLE_ID,</if>
            <if test="roleName !=null">ROLE_NAME,</if>
            <if test="remark !=null">REMARK,</if>
            <if test="createTime !=null">CREATE_TIME,</if>
            <if test="modifyTime !=null">MODIFY_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId !=null">#{roleId},</if>
            <if test="roleName !=null">#{roleName},</if>
            <if test="remark !=null">#{remark},</if>
            <if test="createTime !=null">#{createTime},</if>
            <if test="modifyTime !=null">#{modifyTime},</if>
        </trim>
    </insert>


</mapper>