<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glii.ddbackmanage.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.glii.ddbackmanage.entity.User">
        <id column="USER_ID" property="userId"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="DEPT_ID" property="deptId"/>
        <result column="EMAIL" property="email"/>
        <result column="MOBILE" property="mobile"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="LAST_LOGIN_TIME" property="lastLoginTime"/>
        <result column="SSEX" property="ssex"/>
        <result column="IS_TAB" property="isTab"/>
        <result column="THEME" property="theme"/>
        <result column="AVATAR" property="avatar"/>
        <result column="DESCRIPTION" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID
        ,USERNAME,PASSWORD,DEPT_ID,EMAIL,MOBILE,STATUS,CREATE_TIME,MODIFY_TIME,LAST_LOGIN_TIME,SSEX,THEME,AVATAR,DESCRIPTION
    </sql>

    <!--查询用户列表-->
    <select id="findUserList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        WHERE
        1=1
        <if test="user.username !=null and user.username !=''">
            AND USERNAME LIKE CONCAT('%',#{user.username},'%')
        </if>
        <if test="user.deptId !=null and user.deptId !=''">
            AND DEPT_ID = #{user.deptId}
        </if>
        <if test="user.mobile !=null and user.mobile !=''">
            AND MOBILE = #{user.mobile}
        </if>
        <if test="user.status !=null and user.status !=''">
            AND STATUS = #{user.status}
        </if>
        <if test="user.createTimeFrom !=null and user.createTimeFrom !=''">
            AND CREATE_TIME &gt; #{user.createTimeFrom}
        </if>
        <if test="user.createTimeTo !=null and user.createTimeTo !=''">
            AND CREATE_TIME &lt; #{user.createTimeTo}
        </if>
        <if test="user.ssex !=null and user.ssex !=''">
            AND SSEX = #{user.ssex}
        </if>
        ORDER BY CREATE_TIME DESC
        LIMIT #{rowIndex},#{pageSize}
    </select>

    <!--查询用户总数-->
    <select id="findUsersCount" resultType="Integer">
        SELECT count(1)
        FROM t_user
    </select>

    <!--根据用户id更新用户状态-->
    <update id="updateUserStatusById" parameterType="java.lang.Integer">
        UPDATE t_user
        <set>
            <if test="userId !=null and userId !=''">
                STATUS = #{status}
            </if>
        </set>
        WHERE USER_ID = #{userId}
    </update>

    <!--新增用户-->
    <insert id="insertUser" parameterType="com.glii.ddbackmanage.entity.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">USER_ID,</if>
            <if test="username != null">USERNAME,</if>
            <if test="password !=null">PASSWORD,</if>
            <if test="deptId !=null">DEPT_ID,</if>
            <if test="email !=null">EMAIL,</if>
            <if test="mobile !=null">MOBILE,</if>
            <if test="status !=null">STATUS,</if>
            <if test="createTime !=null">CREATE_TIME,</if>
            <if test="modifyTime !=null">MODIFY_TIME,</if>
            <if test="lastLoginTime !=null">LAST_LOGIN_TIME,</if>
            <if test="ssex !=null">SSEX,</if>
            <if test="isTab !=null">IS_TAB,</if>
            <if test="theme !=null">THEME,</if>
            <if test="avatar !=null">AVATAR,</if>
            <if test="description !=null">DESCRIPTION,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId !=null">#{userId},</if>
            <if test="username !=null">#{username},</if>
            <if test="password !=null">#{password},</if>
            <if test="deptId !=null">#{deptId},</if>
            <if test="email !=null">#{email},</if>
            <if test="mobile !=null">#{mobile},</if>
            <if test="status !=null">#{status},</if>
            <if test="createTime !=null">#{createTime},</if>
            <if test="modifyTime !=null">#{modifyTime},</if>
            <if test="lastLoginTime !=null">#{lastLoginTime},</if>
            <if test="ssex !=null">#{ssex},</if>
            <if test="isTab !=null">#{isTab},</if>
            <if test="theme !=null">#{theme},</if>
            <if test="avatar !=null">#{avatar},</if>
            <if test="description !=null">#{description},</if>
        </trim>
    </insert>

    <!--根据用户id查询用户信息-->
    <select id="findUserById" parameterType="java.lang.Long" resultType="com.glii.ddbackmanage.entity.User">
        SELECT
            u.user_id userId,
            u.username,
            u.email,
            u.mobile,
            u.status,
            u.create_time createTime,
            u.ssex,
            u.dept_id deptId,
            u.last_login_time lastLoginTime,
            u.modify_time modifyTime,
            u.description,
            u.avatar,
            GROUP_CONCAT(r.role_id) roleId,
            GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
            t_user u
                LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
                LEFT JOIN t_role r ON r.role_id = ur.role_id
        WHERE
            u.user_id = #{userId}
        GROUP BY
            u.username,
            u.user_id,
            u.email,
            u.mobile,
            u.status,
            u.create_time,
            u.ssex,
            u.dept_id,
            u.last_login_time,
            u.modify_time,
            u.description,
            u.avatar
    </select>

    <!--更新用户-->
    <update id="updateUser" parameterType="com.glii.ddbackmanage.entity.User">
        UPDATE t_user
        <set>
            <if test="user.username !=null and user.username !=''">
                USERNAME = #{user.username},
            </if>
            <if test="user.password !=null and user.password !=''">
                PASSWORD = #{user.password},
            </if>
            <if test="user.deptId !=null and user.deptId !=''">
                DEPT_ID = #{user.deptId},
            </if>
            <if test="user.email !=null and user.email !=''">
                EMAIL = #{user.email},
            </if>
            <if test="user.mobile !=null and user.mobile !=''">
                MOBILE = #{user.mobile},
            </if>
            <if test="user.status !=null and user.status !=''">
                STATUS = #{user.status},
            </if>
            <if test="user.modifyTime !=null">
                MODIFY_TIME = #{user.modifyTime},
            </if>
            <if test="user.lastLoginTime !=null">
                LAST_LOGIN_TIME = #{user.lastLoginTime},
            </if>
            <if test="user.ssex !=null and user.ssex !=''">
                SSEX = #{user.ssex},
            </if>
            <if test="user.isTab !=null and user.isTab !=''">
                IS_TAB = #{user.isTab},
            </if>
            <if test="user.theme !=null and user.theme !=''">
                THEME = #{user.theme},
            </if>
            <if test="user.avatar !=null and user.avatar !=''">
                AVATAR = #{user.avatar},
            </if>
            <if test="user.description !=null and user.description !=''">
                DESCRIPTION = #{user.description}
            </if>
        </set>
        WHERE USER_ID = #{user.userId}
    </update>

    <!--根据用户id删除用户-->
    <delete id="deleteUserById" parameterType="java.lang.Long">
        DELETE FROM t_user
        WHERE USER_ID = #{userId}
    </delete>

    <!--批量删除用户-->
    <delete id="deleteUserByIds" parameterType="java.lang.Long">
        DELETE FROM t_user
        WHERE USER_ID IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>